<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">Личный кабинет администратора</span>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link">на витрину</a></li>
            <li class="nav-item"><a href="/admin/category" class="nav-link">Список категорий</a></li>
            <li class="nav-item"><a href="/admin" class="nav-link">Список товаров</a></li>
        </ul>
        <div class="col-md-1 text-end">
            <form method="post" th:action="@{/logout}">
                <input type="submit" class="btn btn-primary" value="Выйти">
            </form>
        </div>
    </header>
</div>