
<div class="p-4 p-md-5 mb-4 text-white rounded" style="position: relative">
  <div class="bg-banner rounded">
    <img src="/css/bg-body.jpg">
  </div>
  <div class="col-md-10 px-0">
    <h1 class="display-4 font-italic">Интернет-магазин товаров для рукоделия и творчества</h1>
    <p class="lead my-3">Мы предлагает Вам широкий ассортимент качественной пряжи для вязания, ниток и другой продукции для рукоделия, купить которые, Вы сможете недорого. Мы предлагаем Вам все доступные условия доставки. Мы можем отправить пряжу и другие товары почтой, курьерской службой, транспортными компаниями.</p>
<!--    <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Продолжить чтение...</a></p>-->
  </div>
</div>