
<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
<!--    <a class="p-2 link-secondary" href="#">Технологии</a>-->
<!--    <a class="p-2 link-secondary" href="#">Дизайн</a>-->
<!--    <a class="p-2 link-secondary" href="#">Культура</a>-->
<!--    <a class="p-2 link-secondary" href="#">Политика</a>-->
<!--    <a class="p-2 link-secondary" href="#">Наука</a>-->
<!--    <a class="p-2 link-secondary" href="#">Здоровье</a>-->
<!--    <a class="p-2 link-secondary" href="#">Стиль</a>-->
<!--    <a class="p-2 link-secondary" href="#">Путешествия</a>-->
  </nav>
</div>